.welcome .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.welcome .row {
  margin-bottom: 0;
}

.welcome .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .welcome .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 14px;
}

.description {
  width: 300px;
  height: 180px;
  margin: 10px;
  font-size: 14px;
}

.listabook {
  text-align: center;
}

.listabook img {
  width: 400px;
}

.card {
  display: flex;
  width: 800px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  font-family: "Trebuchet MS";
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card img {
  width: 200px;
}

#updateInput {
  width: 100px;
  height: 20px;
  margin: 10px;
}

#editListing button {
  margin: 5px;
}

.myListings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allListings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifications .card {
  display: flex;
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Trebuchet MS";
  justify-content: space-between;
  align-items: center;
}

.myAccount .card {
  display: flex;
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Trebuchet MS";
  justify-content: space-between;
  align-items: center;
}

.booksIRequested .card {
  display: flex;
  width: 500px;
  overflow: hidden;
  height: 1%;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Trebuchet MS";
  justify-content: space-between;
  align-items: center;
}

.booksOthersRequested .card {
  display: flex;
  width: 500px;
  overflow: hidden;
  height: 1%;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Trebuchet MS";
  justify-content: space-between;
  align-items: center;
}

.selectBookToSwap {
  display: flex;
  align-self: flex-end;
  /* margin-left: 50%; */
}

.selectBookToSwap input[type="checkbox"] {
  width: 15mm;
  height: 15mm;
  margin-right: 20px;
}

.requestAbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.requestFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestFooter button {
  margin-left: 10px;
}

.notificationXBtn {
  display: flex;
  align-self: flex-end;
}

.notificationXBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
